{% extends 'base.html' %}

{% block title %}書籍詳細{% endblock %}

{% block content %}
<div class="card">
	<h5 class="card-header">{{ book.title }}</h5>
	<div class="card-body">
		<p class="card-text">{{ book.text }}</p>
		<a href="{% url 'list-book' %}" class="btn btn-primary">一覧へ</a>
		<a href="{% url 'update-book' book.pk %}" class="btn btn-primary">編集する</a>
		<a href="{% url 'delete-book' book.pk %}" class="btn btn-primary">削除する</a>
		<h6 class="card-header">{{ book.category }}</h6>
	</div>
</div>
{% endblock content %}