{% extends 'base.html' %}

{% block title %}{{ book.title }}詳細{% endblock %}

{% block h1 %}書籍詳細{% endblock %}
{% block content %}
<div class="p-4 m-4 bg-light border border-success rounded">
	<h2 class="text-success">{{ book.title }}</h2>
	<p>{{ book.text }}</p>
	<a href="{% url 'list-book' %}" class="btn btn-primary">一覧へ</a>
	<a href="{% url 'update-book' book.pk %}" class="btn btn-primary">編集する</a>
	<a href="{% url 'delete-book' book.pk %}" class="btn btn-primary">削除する</a>
	<h6 class="card-title">{{ book.category }}</h6>
</div>
{% endblock content %}